*{
    margin: 0px;
    padding: 0px;
}

.navigation {
    background-color: #0C4B33;
    color:white;
    padding: 20px 145px;
}
.left-nav {
    display: flex;
    align-items: center;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
}

.left-nav p{
    width: 250px;
    margin-left: 20px;
    color: #2F8E6A;
    font-weight: 900;
}

.right-nav {
    display: flex;
    justify-content: space-between;
    width: 900px;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    font-weight: 500;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jumbotron {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: solid silver 1px;
}

    .jumbotron h1{
        font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
        text-align: center;
        width: 750px;
        margin-bottom: 40px;
        color: #0C4B33;
        font-size: 39px;
    }
    
    .jumbotron button{
        font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
        display: block;
        margin: 0px auto;
        color: white;
        background-color: #44B78B;
        border-radius: 5px;
        padding: 15px 55px;
        font-size: 22px;
        font-weight: bold;
        border: none;
    }

    .navbar{
        width: 180px;
        background-color: silver;
        border-radius: 10px;
        padding: 10px;
        display: inline-block;
        vertical-align: top;
    }

    ul{
        color: white;
        padding-left: 20px;
        margin: 0;
    }
